*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #f0ecec;
}
.header{
    height: 250px;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
    background-color: #888585;
}
h1{
    font-size: 3rem;
    padding: 40px 0 10px 0;
}
.header p{
    font-size: 2rem;
}
.header img{
    transform: translateY(10px);
    border: solid 10px #fff;
    width: 200px;
    border-radius: 50%; 
    box-shadow: 1px 1px 10px #555;   
}
.main{
    height: 100vh;
    background-color: #fafafa;
}
.seccion{
    margin: auto;
    padding: 150px 100px;  
    padding-bottom: 50px;
    /*height: 300px*/
    width: 90%;
    box-shadow: 1px 1px 10px #555;  
    text-align: center;
}
.icons{
    padding: 20px 0;
    color: #a1a1a1;
    font-size: 1.5rem;
}
.icons i{
    margin: 0 5px;
} 
.seccion article{
    margin-bottom: 30px;
    text-align: center;
}
.btns button{
    padding: 10px 20px;
    background-color: #28c5ec;
    border: none;
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
    box-shadow: 1px 1px 7px #555;
}
.experience{
    text-align: center;
    padding: 20px 0;
    color: #a1a1a1;
}
.container-experience{
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*gap: 10px;*/
    padding: 50px;
    /*border: solid thin rgb(70, 75, 70);*/
}
.elements{
    box-shadow: 1px 1px 7px #555;
    /*border: solid thin red;
    margin-bottom: 40px;*/
}
.elements h3{
    color: #fff;
    font-weight: 100;
    padding: 20px;
    background-color: #888585;
}
.extra-information{
    color: rgb(94, 87, 87);
    padding: 20px;
}
.title,
.date{
    font-weight: 600;
    margin-bottom: 10px;
}
.separador-uno{
    padding: 0 50px;
    border-right: solid 2px #28c5ec;
}
.separador-uno .elements{
    margin-bottom: 30px;
}
.separador-dos{
    padding: 0 50px;
    /*border: solid thin red;*/
}
.separador-dos .elements:first-child{
    transform: translateY(50px);    
}
.separador-dos .elements:nth-child(2){
    transform: translateY(50px);
}
.separador-dos .elements{
    margin-bottom: 30px;
}